@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* page header */
.nav_links > li,
li > a {
  font-weight: 500;
  font-size: 2.5vh;
  text-decoratfont-family: 'Roboto', sans-serif;
  ion: none;
  color: rgb(143, 142, 142);
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: solid 2px #ccc;
}
.logo {
  filter: invert(1);
}
.nav_links {
  display: flex;
  list-style: none;
  padding-right: 5%;
}

.nav_links li {
  padding: 0 30px;
}

.nav_links li a:hover {
  color: purple;
}
.logo_wrapper {
  position: relative;
  padding: 10px;
}

.logo_wrapper img {
  width: 50%;
  height: auto;
}

/* End of Header  */

/* Main Section  */
.container {
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

main {
  background-color: black;
}
.card {
  width: 25%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  /* transition: 0.3s; */
}
.heading h1 {
  font-family: 'Roboto', sans-serif;
  color: red;
  /* padding: 5px 0px 15px 0px; */
}
.heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 0px 15px 0px;
}

.heading a,
p {
  text-decoration: none;
  color: white;
  align-content: space-between;
  padding: 35px 0px 15px 0px;
}
.card-header {
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: #fff;
}
.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
  position: relative;
}
.card-body .btn,
.star {
  display: block;
  color: white;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  /* margin-top: 30px; */
  text-decoration: none;
  padding: 10px 5px;
}
.card-body > p {
  color: black;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.card-image {
  position: relative;
  width: 100%;
}

.star-card-image {
  position: relative;
  width: 50%;
}
/* ---------------Footer-------------- */

/* ---------------/Footer-------------- */
/* Responsive Layout */
@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}
